/* --------- GRID SYSTEM ----------- */
/* the columns inside a row are all floating to the left, and are therefore taken out of the flow of
the page, and other elements will be placed as if the columns do not exist.
To prevent this, we will add the style that clears the flow. */
.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    width: 100%;
    float: left;
    padding: 0 $gutter;
}

/* 12 columns */
@for $i from 1 through 12 {
    $w:($i/12)*100%;
    .col-small-#{$i} {width: $w;}
}



/* -------------------- STYLING -------------------- */


/* -------------------- HEADER -------------------- */
/* -------------------- NAVBAR -------------------- */
/* -------------------- MAIN -------------------- */
/* -------------------- FOOTER -------------------- */
